
label{
    background-color: black;
    font-size: 14;
    color: white;
    text-align: left;
    border: 2px solid green;
    padding: 5px;
    width: 30px;
    font-style: oblique;

}
input{
    background-color:darkslategray;
    color: white;
    font-size: 14;
    border:2px solid blue;
}